<h1> Hello There! </h1>
<p> Whats your name? </p>

<form action="details" method="post" >
  <input type="text" name="name">
  <p> Whens your birthday? </p>
  <input type="date" name="birthday">
  <input type="submit" value="GO">
</form>