


<html>
<style>

img {
  border-width: 5px;
  border-style: solid;
  border-radius: 100px;
        }
</style>
  
    <h1> <%= $person.birthday_message %> </h1>

    <image src="https://i.redd.it/dms4cdl95hv31.png" height="500" width="500" border-color="red" style="border-color:red; border-width:5px">


</html>